---
layout: zakladni
---

<div class="obsah-stranky">
    <h2>Původ dat</h2>
    <p>Webová stránka byla vytvořena výhradně za vzdělávacím a nekomerčním účelem v rámci kurzu Czechitas. Data o filmech pochází z <a href="csfd.cz">ČSFD.cz</a>.</p>
</div>